---
- name: Create carbon group
  group:
    name: carbon
    system: true

- name: Create carbon user
  user:
    name: carbon
    group: carbon
    system: true

- name: Create carbonapi log directory
  file:
    path: /var/log/carbonapi
    state: directory
    owner: carbon
    group: carbon
    mode: "0700"

- name: Create carbonapi config file
  template:
    src: carbonapi.yaml.j2
    dest: /etc/carbonapi.yaml
    owner: carbon
    group: carbon
    mode: "0644"
  register: carbonapi_config

- name: Create carbonapi service file
  template:
    src: carbonapi.service.j2
    dest: /etc/systemd/system/carbonapi.service
    owner: root
    group: root
    mode: "0644"
  register: carbonapi_service

- name: Restart carbonapi service when config or service file changed
  systemd:
    name: carbonapi
    state: restarted
    daemon_reload: "{{ carbonapi_service.changed }}"
  when: carbonapi_config.changed or carbonapi_service.changed

- name: Enable carbonapi auto start
  systemd:
    name: carbonapi
    enabled: true

- import_tasks: config-carbonapi-prom.yml
