# Need to be URL, http or https
# This url specifies the backend or a loadbalancer
#
# If you are using carbonzipper you should set it to
# zipper's url
#
# If you are using plain go-carbon or graphite-clickhouse
# you should set it to URL of go-carbon's carbonserver module
# or graphite-clickhouse's http url.
# Listen address, should always include hostname or ip address and a port.
listeners:
  - address: ":8081"
  # OR
  # - address: "localhost:8081"
    # Uncomment if you want to have HTTPS support and point to proper client
    # NOTE: in example, snake-oil certificates are assumed
    # serverTLSConfig:
    #   # specify CA file
    #   caCertFiles:
    #     - "/etc/ssl/certs/ca-certificates.crt"
    #   # specify certificate pairs
    #   certificatePairs:
    #     - certFile: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
    #       privateKeyFile: "/etc/ssl/private/ssl-cert-snakeoil.key"
    #   # Required for virtual hosting (in case SNI is used)
    #   serverName: "example.com"
    #   # If InsecureSkipVerify is set to true, any certificates will be acceptable, this must not be set in production. Ever.
    #	  insecureSkipVerify: false
    #   # Override minimal supported TLS version, by default 1.3 is in use
    #	  minTLSVersion: "TLS 1.3"
    #   # Override highest supported TLS version, by default the highest possible for the version of Go used
    #   # to compile carbonapi will be advertised.
    #	  maxTLSVersion: "TLS 1.3"
    #   # Specify ciipher suites that can be used, order will be ignored
    #   # Only works with TLS 1.2 or lower as of Go 1.19
    #   # List of cipher suites can be seen here: https://cs.opensource.google/go/go/+/refs/tags/go1.19.3:src/crypto/tls/cipher_suites.go;l=53-74
    #   # Following list is NOT a recommendation, rather example of how to set them
    #	  cipherSuites:
    #     - "TLS_AES_256_GCM_SHA384"
    #     - "TLS_RSA_WITH_AES_256_GCM_SHA384"
    #     - "TLS_CHACHA20_POLY1305_SHA256"
    #   # Specify specific eliptic curvers that can be used
    #   # List: https://pkg.go.dev/crypto/tls#CurveID
    #   # Following list is NOT a recommendation, rather example of how to set them
    #   curves:
    #     - "CurveP521"
    #     - "X25519"
    #   # clientAuth is required for mTLS support
    #   # Supported options are stated in https://pkg.go.dev/crypto/tls#ClientAuthType
    #   # default: NoClientCert
    #   # if any other option is specified, you must uncomment and modify clientTLSConfig section
    #   clientAuth: "RequireAndVerifyClientCert"
    # # section used to specify CAs for mTLS verification. That must be provided even if matches caCertFiles
    # clientTLSConfig:
    #   caCertFiles:
    #     - "cmd/carbonapi/config_tests/mTLS-server.crt"
# OR
#listen: "localhost:8081"

# Specify URL Prefix for all handlers
prefix: ""
# Use custom caching DNS resolver instead of default one. You shouldn't use it unless you know what you are doing.
useCachingDNSResolver: false
# TTL for DNS records in DNS cache. Only matters if `useCachingDNSResolver` is enabled.
cachingDNSRefreshTime: "1m"
# Specify if metrics are exported over HTTP and if they are available on the same address or not
# pprofEnabled controls if extra HTTP Handlers to profile and debug application will be available
expvar:
  enabled: true
  pprofEnabled: false
  listen: ""
# Allow extra charsets in metric names. By default only "Latin" is allowed
# Please note that each unicodeRangeTables will slow down metric parsing a bit
#   For list of supported tables, see: https://golang.org/src/unicode/tables.go?#L3437
#   Special name "all" reserved to append all tables that's currently supported by Go
#unicodeRangeTables:
#   - "Latin"
#   - "Cyrillic"
#   - "Hiragana"
#   - "Katakana"
#   - "Han"
##   - "all"
# Controls headers that would be passed to the backend
headersToPass:
  - "X-Dashboard-Id"
  - "X-Grafana-Org-Id"
  - "X-Panel-Id"
headersToLog:
  - "X-Dashboard-Id"
  - "X-Grafana-Org-Id"
  - "X-Panel-Id"
# Specify custom function aliases.
# This is example for alias "perMinute(metrics)" that will behave as "perSecond(metric)|scale(60)"
define:
  -
    name: "perMinute"
    template: "perSecond({{ '{{' }}.argString{{ '}}' }})|scale(60)"
# Control what status code will be returned where /render or find query do not return any metric. Default is 200
notFoundStatusCode: 200
# Max concurrent requests to CarbonZipper
concurency: 1000
cache:
   # Type of caching. Valid: "mem", "memcache", "null"
   type: "null"
   # Cache limit in megabytes
   size_mb: 0
   # Default cache timeout value. Identical to DEFAULT_CACHE_DURATION in graphite-web.
   defaultTimeoutSec: 60
   # Only used by memcache type of cache. List of memcache servers.
   memcachedServers:
       - "127.0.0.1:1234"
       - "127.0.0.2:1235"
# Amount of CPUs to use. 0 - unlimited
cpus: 0
# Timezone, default - local
tz: ""

# By default, functions like aggregate inherit tags from first series (for compatibility with graphite-web)
# If set to true, tags are extracted from seriesByTag arguments
#extractTagsFromArgs: false
functionsConfig:
#    graphiteWeb: ./graphiteWeb.example.yaml
#    timeShift: ./timeShift.example.yaml
#    moving: ./moving.example.yaml
#    movingMedian: ./moving.example.yaml
#    aliasByRedis: ./aliasByRedis.example.yaml
maxBatchSize: 100
graphite:
    # Host:port where to send internal metrics
    # Empty = disabled
    host: ""
    interval: "60s"
    prefix: "carbon.api"
    # rules on how to construct metric name. For now only {prefix} and {fqdn} is supported.
    # {prefix} will be replaced with the content of {prefix}
    # {fqdn} will be repalced with fqdn
    pattern: "{prefix}.{fqdn}"
# Maximium idle connections to carbonzipper
idleConnections: 10
pidFile: ""
# See https://github.com/go-graphite/carbonzipper/blob/master/example.conf#L70-L108 for format explanation
# See https://github.com/go-graphite/carbonapi/blob/main/doc/configuration.md#for-graphite-clickhouse for graphite-clickhouse upstream example config
upstreams:
    graphite09compat: false
    buckets: 10

    concurrencyLimitPerServer: 0
    keepAliveInterval: "30s"
    maxIdleConnsPerHost: 100
    timeouts:
        find: "2s"
        render: "10s"
        connect: "200ms"

    #backends section will override this one!
    backendsv2:
        backends:
          -
            groupName: "clickhouse-cluster1"
            protocol: "carbonapi_v3_pb"
            lbMethod: "rr"
            maxTries: 3
            maxBatchSize: 0
            keepAliveInterval: "10s"
            concurrencyLimit: 0
            maxIdleConnsPerHost: 1000
            timeouts:
                find: "2s"
                render: "50s"
                connect: "200ms"
            servers:
                - "http://127.0.0.1:9090"

# If not zero, enabled cache for find requests
# This parameter controls when it will expire (in seconds)
# Default: 600 (10 minutes)
# graphTemplates: graphTemplates.example.yaml
expireDelaySec: 10
# Uncomment this to get the behavior of graphite-web as proposed in https://github.com/graphite-project/graphite-web/pull/2239
# Beware this will make darkbackground graphs less readable
#defaultColors:
#      "red": "ff0000"
#      "green": "00ff00"
#      "blue": "#0000ff"
#      "darkred": "#c80032"
#      "darkgreen": "00c800"
#      "darkblue": "002173"
logger:
    - logger: ""
      file: "stderr"
      level: "debug"
      encoding: "console"
      encodingTime: "iso8601"
      encodingDuration: "seconds"
    - logger: ""
      file: "/var/log/carbonapi/carbonapi.log"
      level: "info"
      encoding: "json"
